<%= form_with(model: [@team, @task], class: "contents" ) do |form| %>


  <div class="mb-4">
    <%= form.label :title, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :title,
        class: "rounded-md border border-gray-300 px-3 py-2 w-full focus:outline-none focus:border-indigo-500" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_area :description,
        class: "rounded-md border border-gray-300 px-3 py-2 w-full focus:outline-none focus:border-indigo-500" %>
  </div>

  <div class="mb-4">
    <div class="mb-4">
      <% @team_members.each do |member| %>
        <% checked=@assigned_user_emails&.include?(member.user.email) %>
          <label class="inline-flex items-center">
            <%= check_box_tag "task[assigned_member_ids][]" , member.id, checked,
              class: "form-checkbox text-indigo-500 rounded focus:outline-none focus:border-indigo-500" %>
              <span class="ml-2 text-gray-700 font-medium">
                <%= member.user.email %>
              </span>
          </label>
          <% end %>
    </div>

  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <% end %>